.form {
  display: flex;
  margin-left: 58%;
  margin-top: -208px;
}
.contact-h1 {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 21px;
  font-weight: 500;
}
.line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
  padding-bottom: 3px;
}

.hr {
  width: 100%;
}

.in-field {
  width: 100%;
  background: hsla(0, 0%, 83%, 0.2);
  border: 0 solid var(--Text-Colour-5, #d4d4d4);
  border-radius: 20px;
  flex-shrink: 0;
  outline: 0;
  height: 59px;
  padding-left: 20px;
  padding-right: 25px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.text-field {
  width: 100%;
  resize: none;
  background: hsla(0, 0%, 83%, 0.2);
  border: 0 solid #d4d4d4;
  border: 0 solid var(--Text-Colour-5, #d4d4d4);
  border-radius: 20px;
  flex-shrink: 0;
  outline: 0;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 25px;
  margin-bottom: 30px;
  margin-top: 10px;
}
.form-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
  margin-left: -48px;
}
.contactus {
  background: #fff;
  border-radius: 30px;
  box-shadow: 10px 30px 50px 0 rgba(0, 0, 0, 0.05);
  height: 582px;
  width: 420px;
}
.Submit-btn {
  background: #3a0ca3;
  border: 1px solid #bfbdc1;
  border-radius: 50px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: 60px;
  width: 113%;
  cursor: pointer;
  color: rgb(255 255 255);
}

.Submit-btn:hover {
  background-color: #6d28d9;
}
