* {
  padding: 0;
  margin: 0;
}
.nav {
  position: absolute;
  top: 16%;
  left: 4%;
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
}
.center {
  display: flex;
  justify-content: center;
}
.nav-item-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-right: 225px;
}

.nav-item-right p {
  margin-right: 30px;
}

.nav-item-right button {
  margin-left: 10px;
}
.add-list {
  margin-left: 8px;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.nav-links {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  padding: 13px 16px;
  background-color: initial;
}
.nav-login {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-left: 6px;
}
.nav-img-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 108px;
}
