.navbar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: white;
  color: black;
  padding: 10px 20px;
  position: absolute;
  top: 44px;
  width: 97%;
}

.navbar-item {
  display: flex;
  align-items: center;
  margin-top: 25px;
  padding-left: 5px;
}

.navbar-item span {
  margin-left: 30px;
  font-weight: 600;
  font-size: larger;
}

.nav-itm-right {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: larger;
  margin-left: 335px;
  margin-top: 25px;
}
.nav-itm-center {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: x-large;
  margin-left: 110px;
  margin-top: 25px;
}
.nav-addlist {
  padding-left: 50px;
}
.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
