.swiper-wrapper {
  width: 100%;
}

.slider-image {
  height: 80vh;
  margin-left: 100px;
  border-radius: 7%;
}

.swiper-container {
  text-align: left;
}
.swiper-button-prev {
  top: 70%;
  left: 6%;
  width: 30px;
  height: 30px;
  background-color: #4361ee;
  border-radius: 50%;
}
.swiper-button-prev::after {
  content: "";
  width: 15px;
  height: 15px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(227deg);
  position: absolute;
  top: 55%;
  left: 66%;
  transform-origin: center;
  margin-left: -10px;
  margin-top: -10px;
}

.swiper-button-next {
  left: 43%;
  top: 70%;
  width: 30px;
  height: 30px;
  background-color: #4361ee;
  border-radius: 50%;
}

.swiper-button-next::after {
  content: "";
  width: 15px;
  height: 15px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 55%;
  left: 45%;
  transform-origin: center;
  margin-left: -10px;
  margin-top: -10px;
}
