* {
  padding: 0;
  margin: 0;
}
.main {
  background: linear-gradient(
    180deg,
    rgba(76, 201, 240, 0),
    rgba(67, 97, 238, 0.3)
  );
  border-radius: 0 0 800px 800px;
  height: 802px;
  width: 146.8%;
}
.mar {
  margin-top: 40px;
  margin-left: 98px;
  width: 64%;
}
.title {
  color: #4361ee;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 2.91px;
}
.heading-h2 {
  color: #0b090a;
  font-size: 57px;
  font-weight: 600;
  line-height: 65px;
  margin-bottom: 20px;
  margin-top: 20px;
}
